#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.site-header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  .avater {
    justify-self: flex-end;
  }
}
.basic-layout {
  min-height: 100vh;
}
.logo {
  height: 64px;
  overflow: hidden;
}

.page-enter {
  opacity: 0;
  transform: translateX(100px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100px);
}

.page-enter-active,
.page-exit-active {
  transition: all 500ms ease-out;
}

.page {
  position: absolute;
  top: 20px;
  left: 15px;
  right: 20px;
}

.collos {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.out {
  transform: translate(100%, -50%);
  z-index: 2;
}

.content {
  position: relative;
}
